@media screen and (min-width: 1025px) {
  body {
    /* overflow: hidden; */
    background-color: white;
    margin: 0;
    padding: 0;
    background-image: url(/assets/bbc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    margin: auto;
  }
  div {
    /* border: 1px solid blue; */
  }
  h1 {
    color: orange;
    font-weight: bold;
    text-align: center;
  }
  .header {
    display: flex;
    background-color: orange;
    justify-content: center;
  }
  .linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .github {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_frame {
    /* border: 2px solid red; */
    background-color: orange;
    width: 20%;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
  }
  div {
    /* border: 2px solid red; */
  }
  .image {
    /* margin-left: 10px; */
    width: 40px;
    margin-left: 10px;
  }
  .button {
    margin-top: 10px;
  }
  .button button {
    padding: 10px;
    border: 1px solid orange;
    background-color: beige;
    border-radius: 20px;
    outline: none;
    transition-duration: 0.5s;
  }
  .button button:hover {
    background-color: orange;
    color: white;
    border: 1px solid white;
  }
  .input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input input {
    display: inline-block;

    text-align: center;
    border-radius: 20px;
    border: 0;
    outline: none;
  }
  .result {
    margin: auto;
    color: white;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    /* background-image: url(/assets/bbc.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: url(/assets/bbc2.jpg);
  }
  .container {
    margin: auto;
  }
  div {
    /* border: 1px solid blue; */
  }
  h1 {
    color: orange;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .header {
    background-color: orange;
    display: flex;
    justify-content: center;
  }
  .linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .github {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_spacer {
    flex-grow: 1;
  }
  .main_frame {
    margin: auto;
    margin-top: 10%;
    background-color: orange;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  div {
  }
  .image {
    width: 40px;
    margin-left: 10px;
  }
  .button {
    margin-top: 10px;
  }
  .button button {
    padding: 10px;
    border: 1px solid orange;
    background-color: beige;
    border-radius: 20px;
    outline: none;
    transition-duration: 0.5s;
  }
  .button button:hover {
    background-color: orange;
    color: white;
    border: 1px solid white;
  }
  .input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input input {
    display: inline-block;

    text-align: center;
    border-radius: 20px;
    border: 0;
    outline: none;
  }
  .result {
    margin: auto;
    color: white;
  }
}
